.container {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.borders-section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
