.input-search-container {
  position: relative;
  height: fit-content;
  width: 80%;
  max-width: 450px;
  width: 100%;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-close {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-search {
  padding-inline: 45px;
  width: 100%;
}

.icon-close {
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  &:not(:disabled):hover {
    background-color: transparent;
  }
}
