.container {
  display: flex;
  width: fit-content;
}

.item {
  text-decoration: none;
  color: var(--ui-kit-primary-500);
  font-size: var(--ui-kit-size-2xl);
  font-weight: var(--ui-kit-font-weight-extrabold);
  font-family: var(--ui-kit-font-primary);
  display: inline-block;
  padding: 4px 6px;
  transition: all 200ms ease-in-out;
  &:hover {
    color: var(--ui-kit-primary-700);
  }
}

.item-active {
  color: var(--ui-kit-secondary-400);
  &:hover {
    color: var(--ui-kit-secondary-600);
  }
}
