.container {
  display: inline-block;
  position: relative;
  width: 330px;
  height: 594px;
}

.proplayer-container {
  position: absolute;
  top: 30px;
  left: 30px;
}

.border-container {
  position: absolute;
  top: 0;
  left: 0;
}

.username {
  position: absolute;
  bottom: 15.8%;
  left: 50%;
  transform: translateX(-50%);
}

.avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 18px;
  left: 23px;
  height: 68px;
  width: 68px;
}
