.container {
  background-color: var(--ui-kit-neutral-800);
  padding: 25px 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-embee {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.nav-link {
  text-decoration: none;
  font-weight: var(--ui-kit-font-weight-bold);
  color: var(--ui-kit-neutral-200);
  font-family: var(--ui-kit-font-secondary);
  font-weight: 700;
  text-shadow: 0 0 10px #000;
}

.collaborators-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.collaborators {
  display: flex;
}
