---
import { PatreonerDetail } from "@components/patreoner-detail";
import { SectionPage } from "@components/section-page";
import { getPatreons } from "@services/getPatreons";
const patreons = getPatreons();
---

<SectionPage styleInline="gap: 25px">
  <h2>Este proyecto es posible gracias a nuestros patreons:</h2>
  <div class="sponsors">
    {
      patreons.map((patreon) => (
        <PatreonerDetail name={patreon.name} url={patreon.url} />
      ))
    }
  </div>
</SectionPage>

<style>
  h2 {
    font-size: 24px;
  }
  .sponsors {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    max-width: 80dvw;
  }
</style>
