.container {
  background-color: var(--ui-kit-twitch) !important;
  &:not(:disabled):hover {
    background-color: var(--ui-kit-twitch-dark) !important;
  }
}

.detail {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
