.container {
  background-color: transparent;
  border: none;
  font-family: var(--ui-kit-font-secondary);
  color: var(--ui-kit-neutral-100);
  outline: 2px solid var(--ui-kit-neutral-100);
  padding: 16px;
  border-radius: 4px;
  font-weight: var(--ui-kit-font-weight-regular);
  transition: all 200ms ease-in-out;
  width: 100%;
  &::placeholder {
    color: var(--ui-kit-neutral-200);
    font-weight: var(--ui-kit-font-weight-semibold);
  }
  &:focus::placeholder {
    color: var(--ui-kit-primary-700);
  }
  &:focus {
    color: var(--ui-kit-primary-700);
    outline: 2px solid var(--ui-kit-primary-700);
  }
}
