.container {
  position: relative;
  width: 500px;
  max-width: 80%;
}

.item-option {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 15%;
  width: 100%;
}

.avatar {
  border-radius: 50%;
}
